# Terraform Files
*.tfstate
*.tfstate.*
*.tfvars
!terraform.tfvars.example
.terraform/
.terraform.lock.hcl
tfplan
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Output files
outputs.json

# macOS
.DS_Store

# Editor files
*.swp
*.swo
*~
.vscode/
.idea/
*.iml
